body{
    background-color: darkmagenta;
}
article p{
    color: black;
}

.p{
  background-color: beige;  
}
.p{
    background-color: beige;
}
h1{
    color: white;
}
h2{
    color: white;
}
.p footer{
    color: white;
}
.footer p{
    color: white;
}


