.container{
    height: 100vh;
    background-color: aquamarine;
    font-size: 18px;
    display: grid;
    /* grid-template-columns: 25% 50% 25%; */
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    grid-template-areas: "header header header"
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer"
    ;
}
.box1{
    grid-area: header;
    background-color: green;
    
}
.box2{
    grid-area: aside;
    background-color: yellow;
}
.box3{
    grid-area: main;
    background-color: blueviolet;
}
.box4{
    grid-area: footer;
    background-color: crimson;
}