*{
    font-size: 25px;
}
p {
     font-size: 2rem;
      /*50 px  */
}
.elemento1 {
    font-size: 1.5rem;
    /* 37.5 px */
}
.elemento2 {
    font-size: 2em;
    /* 75 px */
}
.box1 {
background-color: aqua;
height: 100vh;
}
.box2 {
    background-color: green;
    height: 100vh;
}
.box3 {
    background-color: yellow;
    height: 100vh;
}
.box4 {
background-color: beige;
height: 50vh;
}
